<!Doctype html>
<html lang="en">
  <head>
    {% block title %}<title>Design Pro</title>{% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>

  <body>
    <header class='bg-dark'>
        <div class="p-3">
          {% block navigation %}
          <nav class='d-flex justify-content-between'>
          <a href="{% url 'index' %}" class = "link-light">Home</a></li>
          {% if user.is_authenticated %}
            <div class='d-flex gap-3'>
            <a href="{% url 'profile' %}" class="link-light">Profile</a></li>
            <a href="{% url 'logout' %}" class="link-light">Logout</a></li>
            </div>
          {% else %}
            <div class='d-flex gap-3'>
            <a href="{% url 'login' %}" class="link-light">Login</a></li>
            <a href="{% url 'singup' %}" class="link-light">Sing Up</a></li>
            </div>
          {% endif %}
          </nav>
          {% endblock %}
        </div>
  </header>
  <main>
    <div class="container-fluid gap-3 p-3">{% block content %}{% endblock %}</div>
  </main>
  </body>
</html>