<!Doctype html>
<html lang="en">
  <head>
    {% block title %}<title>Design Pro</title>{% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>

  <body>
    <div class="container-fluid">
      <div class="d-flex flex-column">
        <div class="p-3">
          {% block navigation %}
          <nav class='d-flex justify-content-between'>
          <a href="{% url 'index' %}">Home</a></li>
          <div class='d-flex'>
          <a href="{% url 'index' %}" class="mr-3">Login</a></li>
          <a href="{% url 'index' %}">Registration</a></li>
          </div>
          </nav>
          {% endblock %}
        </div>
        <div class="container-fluid gap-3 p-3">{% block content %}{% endblock %}</div>
      </div>
    </div>
  </body>
</html>