{% extends 'layout/default.html' %}

{% block content %}
  <h1>Изменение статуса заявки</h1>
    <form method="GET">
        <div class="w-25 pb-4 d-flex">
        <select name="status" class="form-select">
            <option value=''>------</option>
            <option value="a" {% if selected_status == 'a' %}selected{% endif %}>Принято в работу</option>
            <option value="c" {% if selected_status == 'c' %}selected{% endif %}>Выполнено</option>
        </select>
        <button type='submit' class='btn btn-primary'>Применить</button>
    </div>
    </form>
<div class='d-flex w-50 justify-content-center'>
{% if selected_status == 'a'%}
  <form method="POST">
    {% csrf_token %}
    <div class='d-flex flex-column gap-1'>
    {{accept_form}}
    <button type="submit" name="accept" class="btn btn-primary btn-lg">Изменить</button>
    </div>
  </form>
{% elif selected_status == 'c'%}
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class='d-flex flex-column gap-1'>
    {{complete_form}}
    <button type="submit" name="complete" class="btn btn-primary btn-lg">Изменить</button>
    </div>
  </form>
{% endif %}
</div>
{% endblock %}