<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}<title>Design Pro</title>{% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>

  <body>
    <header class='bg-dark'>
      <div class='container'>
        <div class="p-3">
          {% block navigation %}
          <nav class='d-flex justify-content-between'>
          <a href="{% url 'index' %}" class = "link-light link-underline-opacity-0">Главная</a></li>
          {% if user.is_authenticated %}
            <div class='d-flex gap-3'>
            {% if not user.is_staff and not user.is_admin %}
            <a href="{% url 'request-create' %}" class="link-light link-underline-opacity-0"> Создать заявку </a>
            <a href="{% url 'profile' %}" class="link-light link-underline-opacity-0">Профиль</a></li>
            {% else %}
            <a href="{% url 'admin' %}" class="link-light link-underline-opacity-0"> Панель управления заявками</a>
            <a href="{% url 'category-list' %}" class="link-light link-underline-opacity-0">Панель управления категориями</a></li>
            {% endif %}
            <a href="{% url 'logout' %}" class="link-light link-underline-opacity-0">Выйти</a></li>
            </div>
          {% else %}
            <div class='d-flex gap-3'>
            <a href="{% url 'login' %}" class="link-light link-underline-opacity-0">Войти</a></li>
            <a href="{% url 'singup' %}" class="link-light link-underline-opacity-0">Регистрация</a></li>
            </div>
          {% endif %}
          </nav>
          {% endblock %}
        </div>
        </div>
  </header>
  <main>
    <div class='container'>
      <div class="container-fluid gap-1 p-3">{% block content %}{% endblock %}</div>
    </div>
  </main>

  </body>
</html>